* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 
                 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 24px;
}



body {
    background-color: rgb(36, 33, 33);
    color: rgba(228, 70, 70, 0.674);
}

h1, h2 {
    text-align: center;
    font-size: 48px;
    background-color: rgb(0, 0, 0);
    border-radius: 15px;
}

img {
    width: 70%;
    padding: 15px;
    border-radius: 25px;
    display: block;
    margin: auto;
}

.image {
    text-align: center;
    border-left: 7px double red;
}

.image-2 {
    border-right: 7px double red;
    border-radius: 25px;
    text-align: center;
}

.image-3 {
    text-align: center;
    border-left: 7px double red;
}

.image-4 {
    border-right: 7px double red;
    border-radius: 25px;
    text-align: center;
}

.image-5 {
    text-align: center;
    border-left: 7px double red;
}

.image-6 {
    text-align: center;
    border-right: 7px double red;
    border-radius: 25px;
}

.image-7 {
    text-align: center;
    border-left: 7px double red;
}

.image-8 {
    border-right: 7px double red;
    border-radius: 25px;
    text-align: center;
}

.image-9 {
    text-align: center;
    border-left: 7px double red;
}
